@import "./reset.scss";
@import "./colors.scss";
@import "./vars.scss";

html {
  font-size: 10px;
}

body {
  color: var(--text-800);
  font-size: 1.8rem;
  background-color: var(--background-500);
}
