:root {
  --border-radius: 6px;

  //shadows

  --shadow: 2px 2px 8px var(--background-600);
  --focus-shadow-primary: 0px 0px 3px var(--primary-500);
  --focus-shadow-secondary: 0px 0px 3px var(--secondary-500);
}
