:root {
  --border-radius: 6px;

  //shadows

  --shadow: 2px 2px 8px var(--background-900);
  --focus-shadow-primary: 0px 0px 3px var(--primary-500);
  --focus-shadow-secondary: 0px 0px 3px var(--secondary-500);

  //z-index

  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;
  --layer-6: 60;
  --layer-7: 70;
  --layer-8: 80;
  --layer-9: 90;
  --layer-10: 100;

  //transition

  --transition-hover: 0.15s;
}
