.root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2.7rem;
  }
}

.buttons {
  display: flex;
  gap: 12px;
  flex-direction: column;

  width: 100%;
}
