.root {
  border: 1px solid var(--background-600);
  border-radius: var(--border-radius);
  min-height: 60vh;
}

.listHeader,
.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--background-600);

  p {
    padding: 8px 18px;
  }
}

.item {
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: var(--primary-50);
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}
