.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  position: relative;

  &.required {
    transform: translateX(10px);
    &::before {
      content: "*";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-10px);
    }
  }

  .fieldContent {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.labelHorizontal {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}

.submit {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
