.selectTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  padding: 2px 14px;
  border: 1px solid var(--background-600);
  background-color: transparent;
  border-radius: var(--border-radius);
  font-size: 1.8rem;

  &[data-state="open"] {
    // box-shadow: var(--focus-shadow-primary);
    // outline: 1px solid var(--primary-500);
    border: 1px solid var(--primary-500);

    & .selectIcon {
      transform: rotate(180deg) translateY(4px);
    }
  }

  &[data-disabled] {
    cursor: default;
    opacity: 0.8;
  }

  &.underlined {
    padding: 0px 4px;
    border: none;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-bottom: 1px solid var(--background-700);

    &[data-state="open"] {
      border-bottom: 1px solid var(--primary-500);
      box-shadow: none;
      background-color: var(--primary-100);
    }
  }
}

.selectContent {
  padding: 12px 18px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-top: 8px;
}

.selectIcon {
  transform: translateY(2px);
  transition: transform linear 0.2s;
}

.selectItem {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 8px;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-100);
  }
}

.groupLabel {
  color: var(--text-200);
  margin-bottom: 6px;
  padding-left: 8px;
}

.selectDivider {
  background-color: var(--background-200);
  height: 1px;
  margin: 8px 8px;
}
