.root {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 70%;
    width: 75%;
  }
}

.black {
  // background-color: #769656;
  background-color: var(--primary-700);
  color: white;
}

.white {
  // background-color: #eeeed2;
  background-color: var(--primary-200);
  color: black;
}

.selected {
  background-color: rgb(105, 19, 19);

  img {
    height: 90%;
    width: 90%;
  }
}

.avaliable {
  background-color: var(--success-500);
}

.avaliableDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--success-500);
  opacity: 0.8;
}
