.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 48px;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board {
  display: flex;
  align-items: center;
}
