@import "@/shared/styles/breakpoints.module.scss";

.root {
  border: 1px solid var(--background-600);
  min-height: 300px;

  min-width: 200px;

  border-radius: var(--border-radius);
  overflow: auto;

  @media (max-width: $bp-l) {
    min-height: 32px;
    max-width: 100%;
  }
}

.moveList {
  @media (max-width: $bp-l) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2px;
  }
}

.moveRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rowNumber {
  text-align: center;
  padding: 6px;
  background-color: var(--secondary-50);

  // box-shadow: inset var(--shadow);
}

.move {
  text-align: center;
  padding: 6px;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: var(--primary-100);
  }
}
